.movies {
    padding-top: 50px;
    h2{
        margin-bottom: 15px;
    }
}

.movies-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
}


.movie-card {
    max-width: 250px;
}

